@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,700&family=Roboto&display=swap');

:root {
    --white: #fff;
    --black: #13131a;
    --gray: rgba(226, 217, 217, 0.336);
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}
html::-webkit-scrollbar-track {
    background: transparent;    
}
html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body {
    background-color: var(--white);
}

.btn {
    background-color: var(--white);
    color: var(--black);
    text-align: center;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
}
.btn:hover {
    letter-spacing: .2rem;
}
.btn-blk {
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
}
.btn-blk:hover {
    letter-spacing: .2rem;
}

.header {
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 2%;
    border-bottom: var(--gray);
    position: fixed;
    top:0%; left: 0%; right: 0%;
    z-index: 1000;
}
.header .logo img {
    height: 6rem;
}
.header .navbar a {
    color: var(--black);
    font-size: 1.5rem;
    margin: 0 1rem;
}
.header .navbar a:hover {
    color: var(--gray);
}
.header .navbar .icons i {
    height: 1.6rem;
    cursor: pointer;
}
#menu-btn {
    display: none;
}

.home {
    min-height: 40vh;
    display: flex;
    background: url(../images/home.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 6rem;
}
.home .content {
    text-align: center;
    color: var(--white);
    margin: 50rem;
}
.home .content h3 {
    text-transform: uppercase;
    font-size: 4rem;
}
.home .content p {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.7;
    padding: .7rem 0;
    color: var(--white); 
    text-align: center;
    margin: 10;
}

.pages .row {
    display: flex;
    align-items: center;
    margin: 10rem 30rem;
    flex-wrap: wrap;
}
.pages .row .image {
    flex: 1 1 5rem;
    
}
.pages .row .image img {
    height: 30rem;
    width: 30rem;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 5rem;
}
.pages .row h3 {
    text-transform: uppercase;
    font-size: 2.5rem;
}
.pages .row p {
    font-size: 1.5rem;
    font-weight: lighter;
    line-height: 1.7;
    color: var(--black);
   
}
.pages .row .content {
    flex: 1 1 45rem;
    padding: 2rem;
}

.elements {
    background: var(--gray);
    padding: 2rem;
    margin: 10;
}
.elements .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
    margin: 5rem;
    
}
.elements .box-container .box {
    
    align-items: center;
}
.elements .box-container .box .images-small img {
    height: 400px;
    width: 300px;
    margin-left: 10rem;
    margin-right: 5rem;
}
.elements .box-container .box .images-big img {
    height: 400px;
    width: 550px;
}

.portfolio {
    background: var(--white);
    margin: 10rem;
}
.portfolio .row {
    display: flex;
    align-items: center;
    margin: 10rem;
    flex-wrap: wrap;
}
.portfolio .row .awards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
    margin: 5rem;
}
.portfolio .row .awards .show {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.portfolio .row .awards .show img {
    height: 8rem;
}
.portfolio .row .awards .show hr {
    width: 1;
    size: 50;
    color: var(--gray);
}
.portfolio .row .awards .show p {
    border-left: var(--gray);
    margin: 3rem;
}

.blogs {
    background: var(--gray);
}
h4 {
    text-transform: uppercase;
}











@media (max-width:991px) {
    html {
        font-size: 55%;
    }
    .header {
        padding: 1.5rem 2rem;
    }
    section {
        padding: 2rem;
    }
    
   
    
}

@media (max-width: 768px) {
    #menu-btn{
        display: inline-block;
    }
    .header .navbar {
        position: absolute;
        top: 100% ; right: -100%;
        background: var(--white);
        width: 20rem;
        height: calc(100vh - 9.5rem);
    }
    .header .navbar.active{
        right:0;
    }
    .header .navbar a {
        color: var(--black);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 1.1rem;
    }
    .home {
        background-position: center;
        text-align: center;
        justify-content: center;
    }
    .home .content {
        margin: 15rem;
    }
    .home .content h3 {
        font-size: 2rem;
    }
    .home .content p {
        font-size: .8rem;
        width: 90%;
    }
 
    .pages .row{
        margin: 0;
        padding: 0;

    }
    .pages .row img {
        margin-left: 8rem;
    }
    .pages .row p {
        width: 90%;
    }

    .elements .box-container .box .images-small img {
        height: 200px;
        width: 300px;
        margin-left: 0;
    }
    .elements .box-container .box .images-big img {
        height: 200px;
        width: 300px;
    }
    
    .portfolio {
        padding: 0;
        margin: 0;
    }
    .portfolio .row {
        padding: 0;
        margin: 0;
    }
    .portfolio .row .awards .show {
        flex: 1 1 45rem;
        align-items: center;
        
    }
    .portfolio .row .awards .show img {
        height: 5rem;
        
    }
    .portfolio .row .awards .show p {
        border-left: var(--gray);
    }

}

